html, body{
  height: 100vh;
  width: 100vw
}

body{
  display:flex;
  justify-content: center;
  align-items: center;
}

#app{
  width: 300px;
  display: flex;
  flex-direction: column;
}

#count{
  display: flex;
  justify-content: center;
  font-size: 80px;
}

hr {
  margin-left: 0;
  margin-right: 0;
}

#button-container{
  display:flex;
  justify-content: center;
}

button{
  width: 75px;
  height: 30px;
  margin: 5px;
}

#decrement{
  background-color:red;
}
